html {
	overflow-y:scroll;
}

body{
	padding: 0;
	margin:0;
}

#breadcrumb_bar a{
	color: #00314B;
	text-decoration: underline;
}

#header_bar{
	position: fixed;
	background-color: #00324A;
	width: 100%;
	font-size: 14px;
	color: #FFFFFF;
	padding: 0;
	height: 70px;
}

#title_icon{
	position: fixed;
	left: 37px;
	top: 18px;
}

#title_text{
	position: fixed;
	left: 110px;
	top: 18px;
	font-size: 27px;
	font-weight: semi-bold;
	font-family: Arial, Sans-Serif;
}

#download_icon{
	text-align: right;
	position: fixed;
	top: 19px;
	right: 265px;
}

#print_icon{
	text-align: right;
	position: fixed;
	top: 19px;
	right: 225px;
}

#logo_image{
	text-align: right;
	position: fixed;
	top: 17px;
	right: 40px;
}

#side_bar{
	position: fixed;
	top: 70px;
	left: 0;
	background-color: #00324A;
	height: 95%;
	width: 112px;
	padding: 0;
}

div{
	padding: 0;
	margin: none;
	border: 0;
}

#home_btn{
	border-top: 1px solid #777777;
	border-bottom: none;
	padding: 0;
	height: 92px;
}

#about_btn{
	border-top: 1px solid #777777;
	border-bottom: none;
	padding: 0;
	height: 92px;
}

#lessons_btn{
	border-top: 1px solid #777777;
	border-bottom: none;
	padding: 0;
	height: 92px;
}

#glossary_btn{
	border-top: 1px solid #777777;
	border-bottom: none;
	padding: 0;
	height: 98px;
}

#exit_btn{
	border-top: none;
	border-bottom: none;
	padding: 0;
	height: 92px;
	position: fixed;
	vertical-align: bottom;
	bottom: 0;
	left: 0;
	background-color: #00324A;
}

#breadcrumb_bar{
	background-color: #18E5C9;
	height: 60px;
	width: 100%;
	position: fixed;
	top: 70px;
	left: 112px;
	vertical-align: middle;
}

#breadcrumb_start{
	width: 15px;
	position: initial;
	top: 0;
}

#breadcrumb_between{
	width: 15px;
	position: absolute;
	top: 0;
	left: 260px;
}

#breadcrumb_between2{
	width: 15px;
	position: absolute;
	top: 0;
	left: 520px;
}

#module_name{
	font-size: 13px;
	font-family: "", Arial, Sans-Serif;
	color: #00314B;
	position: relative;
	top: -52px;
	left: 25px;
}

#unit_name{
	font-size: 13px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	position: relative;
	top: -82px;
	left: 290px;
}

#lesson_name{
	font-size: 13px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	position: relative;
	top: -112px;
	left: 550px;
}

#intro_home{
	float: right;
	position:fixed;
	left: 180px;
	right: 50px;
	top: 150px;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	width: 680px;
	text-align: left;
}

#intro_home_about{
	float: right;
	position:fixed;
	left: 180px;
	right: 50px;
	top: 150px;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	width: 680px;
	text-align: left;
}

#intro_400{
	float: right;
	position:fixed;
	left: 180px;
	right: 50px;
	top: 150px;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	width: 400px;
	text-align: left;
}

#intro_380{
	float: right;
	position:fixed;
	left: 180px;
	right: 50px;
	top: 150px;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	width: 380px;
	text-align: left;
}

#intro_390{
	float: right;
	position:fixed;
	left: 180px;
	right: 50px;
	top: 150px;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	width: 380px;
	text-align: left;
}

#intro_340{
	float: right;
	position:fixed;
	left: 180px;
	right: 50px;
	top: 150px;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	width: 340px;
	text-align: left;
}

#intro{
	float: right;
	position:fixed;
	left: 180px;
	right: 50px;
	top: 150px;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	width: 330px;
	text-align: left;
}

#intro_lessons{
	float: right;
	position:fixed;
	left: 180px;
	right: 50px;
	top: 150px;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	width: 750px;
	text-align: left;
}

#intro_lessons2{
	float: right;
	position:fixed;
	left: 180px;
	right: 50px;
	top: 150px;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	width: 760px;
	text-align: left;
}

#intro_objectives{
	float: right;
	position:fixed;
	left: 180px;
	right: 50px;
	top: 150px;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	width: 670px;
	text-align: left;
}

#intro_module{
	float: right;
	position:fixed;
	left: 180px;
	right: 50px;
	top: 150px;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	width: 760px;
	text-align: left;
}

#intro_560px{
	float: right;
	position:fixed;
	left: 180px;
	top: 150px;
	width: 560px;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	text-align: left;
}

#intro_580px{
	float: right;
	position:fixed;
	left: 180px;
	top: 150px;
	width: 580px;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	text-align: left;
}

#intro_520px{
	float: right;
	position:fixed;
	left: 180px;
	top: 150px;
	width: 520px;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	text-align: left;
}

#intro_480px{
	float: right;
	position:fixed;
	left: 180px;
	right: 50px;
	top: 150px;
	width: 480px;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	text-align: left;
	z-index: 1;
}

#intro_450px{
	float: right;
	position:fixed;
	left: 180px;
	right: 50px;
	top: 150px;
	width: 450px;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	text-align: left;
}


li{
	padding-bottom: 10px;
}


h1{
	font-size: 28px;
	font-weight: bold;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	margin-top: 12px;
	margin-bottom: 10px;
}

h2{
	font-size: 17px;
	font-weight: bold;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	margin-bottom: 5px;
}

h3{
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, Sans-Serif;
	color: #00314B;
}

h4{
	font-size: 18px;
	font-weight: bold;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	margin-bottom: 2px;
	margin-top: 10px;
}

h5{
	font-size: 19px;
	font-weight: bold;
	color: #695AC9;
	margin-bottom: 0;
	margin-top: 10px;
}

h6{
	font-size: 22px;
	font-weight: bold;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	margin-bottom: 12px;
	margin-top: 10px;
}

#intro_home_about h2{
	font-size: 17px;
	font-weight: bold;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	margin-bottom: 12px;
	margin-top: 18px;
}

#modules_home{
	position: fixed;
	top: 390px;
	left: 180px;
	width: 680px;
}

#module1{
	background-color: #18E5C9;
	width: 210px;
	padding: 25px;
	font-size: 17px;
	font-weight: bold;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	text-align: center;
	float: left;
	margin-right: 40px;
	margin-bottom: 30px;
}

#module2{
	background-color: #18E5C9;
	width: 210px;
	padding: 25px;
	font-size: 17px;
	font-weight: bold;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	text-align: center;
	float: left;
	margin-right: 40px;
	margin-bottom: 30px;
}

#module3{
	background-color: #18E5C9;
	width: 210px;
	padding: 25px;
	font-size: 17px;
	font-weight: bold;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	text-align: center;
	float: left;
	margin-right: 40px;
	margin-bottom: 30px;
}

#module4{
	background-color: #18E5C9;
	width: 210px;
	padding: 25px;
	font-size: 17px;
	font-weight: bold;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	text-align: center;
	float: left;
	margin-right: 40px;
	margin-bottom: 30px;
}

#unit1{
	background-color: #7672FF;
	width: 210px;
	padding: 25px;
	font-size: 17px;
	font-weight: bold;
	font-family: Arial, Sans-Serif;
	color: #FFFFFF;
	text-align: center;
	float: left;
	margin-right: 40px;
	margin-bottom: 30px;
}

#unit2{
	background-color: #7672FF;
	width: 210px;
	padding: 25px;
	font-size: 17px;
	font-weight: bold;
	font-family: Arial, Sans-Serif;
	color: #FFFFFF;
	text-align: center;
	float: right;
	margin-right: 40px;
	margin-bottom: 30px;
}


.classWithShadow{
   -moz-box-shadow: 3px 3px 4px #000;
   -webkit-box-shadow: 3px 3px 4px #000;
   box-shadow: 3px 3px 4px #000;
}

#module1:hover,
#module2:hover,
#module3:hover,
#module4:hover{
	-moz-box-shadow: 3px 3px 4px #BBB;
	-webkit-box-shadow: 3px 3px 4px #BBB;
	box-shadow: 3px 3px 4px #BBB;
	background-color: #00314B;
	color: #18E5C9;
}

#imgbox{
	position: fixed;
	top: 130px;
	right: 0;
	height: 100%;
	text-align: right;
}



#iconbox{
	position: fixed;
	top: 280px;
	left: 810px;
	height: 100%;
	text-align: right;
}

#begin_btn{
	position: fixed;
	bottom: 100px;
	left: 180px;
}

#buttonLinks,
#buttonLinks1,
#buttonLinks2,
#buttonLinks3,
#buttonLinks4,
#buttonLinks5{
	position: fixed;
	bottom: 100px;
	left: 180px;
	z-index: 9999;
}

#buttonLinks_about{
	position: fixed;
	bottom: 55px;
	left: 180px;
	z-index: 9999;
}

#linebox{
	position: fixed;
	bottom: 5px;
	left: 113px;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	color: #00314B;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, Sans-Serif;
	padding: 20px 65px;
}

#linebox .page_bullets{
	font-size: 12px;
	color: #CCCCCC;
	text-align: right;
	position: fixed;
	left: 440px;
	bottom: 20px;
}

.video{
	position: fixed;
	left: 160px;
	top: 150px;
	border-bottom: none;
	border-bottom: 0;
}

#videoBox1{
	position: fixed;
	left: 580px;
	top: 205px;
	border-bottom: none;
	border-bottom: 0;
	z-index:1;
}

#videoBox2{
	position: fixed;
	left: 600px;
	top: 399px;
	border-bottom: none;
	border-bottom: 0;
}

#videoBox3{
	position: fixed;
	left: 600px;
	top: 260px;
	border-bottom: none;
	border-bottom: 0;
}

#videoBox4{
	position: fixed;
	left: 600px;
	top: 256px;
	border-bottom: none;
	border-bottom: 0;
}

#videoBox5{
	position: fixed;
	left: 600px;
	top: 165px;
}

.yesBtn,
.noBtn{
	background-color: #756DFF;
	padding: 6px 20px;
	color: #FFFFFF;
	font-weight: bold;
	border: 2px solid;
  border-radius: 25px;
}

button {
    background-color: #756DFF;
		border: 0;
	  border-radius: 25px;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

#contentArea1{
	position: fixed;
	left: 650px;
	top: 400px;
	border-bottom: none;
	border-bottom: 0;
}

#contentArea2{
	position: fixed;
	left: 600px;
	top: 180px;
	border-bottom: none;
	border-bottom: 0;
}

#contentArea2 iframe{
	background-color: #F9F9F9;
}

#contentArea3{
	position: fixed;
	left: 600px;
	top: 220px;
	border-bottom: none;
	border-bottom: 0;
}

#contentArea4{
	position: fixed;
	left: 650px;
	top: 130px;
	background-color: #FFFFFF;
	z-index:1;
	-webkit-box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.6);
	-moz-box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.6);
	box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.6);
}

#contentArea4 img{
	border-left: 1px solid #CCCCCC;
}

#contentArea5{
	position: fixed;
	left: 651px;
	top: 130px;
	background-color: #FFFFFF;
	z-index:1;
	-webkit-box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.6);
	-moz-box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.6);
	box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.6);
}

#contentArea6{
	position: fixed;
	left: 650px;
	top: 130px;
	background-color: #FFFFFF;
	z-index:1;
	-webkit-box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.6);
	-moz-box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.6);
	box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.6);
}

#contentArea6_lotus{
	position: fixed;
	left: 730px;
	top: 130px;
	background-color: #FFFFFF;
	z-index:1;
	-webkit-box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.6);
	-moz-box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.6);
	box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.6);
}

#contentArea_570{
	position: fixed;
	left: 700px;
	top: 155px;
	background-color: #FFFFFF;
	z-index:1;
}

#contentArea_550{
	position: fixed;
	left: 755px;
	top: 165px;
	background-color: #FFFFFF;
	z-index:1;
	text-align: center;
}

#contentArea_fullheight{
	position: fixed;
	left: 750px;
	top: 145px;
	background-color: #FFFFFF;
	z-index:1;
	color: #00314B;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
}

#contentArea_lotusfullheight{
	position: fixed;
	left: 620px;
	top: 240px;
	background-color: #FFFFFF;
	z-index:1;
	color: #00314B;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
}

#contentArea_lotusfullheight2{
	position: fixed;
	left: 730px;
	top: 240px;
	background-color: #FFFFFF;
	z-index:1;
	color: #00314B;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
}

#contentArea_text{
	position: fixed;
	left: 750px;
	top: 220px;
	right: 40px;
	background-color: #FFFFFF;
	z-index:1;
	color: #00314B;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
}

#contentArea_flush{
	position: fixed;
	left: 720px;
	top: 130px;
	background-color: #282828;
	z-index:0;
	color: #00314B;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
}

#contentArea_list{
	position: fixed;
	left: 760px;
	top: 130px;
	background-color: #282828;
	z-index:0;
}


#contentArea6 img,
#contentArea7 img,
#contentArea7b img{
	border-left: 1px solid #DDDDDD;
}

#contentArea7{
	position: fixed;
	left: 650px;
	top: 130px;
	background-color: #FFFFFF;
	z-index:2;
	-webkit-box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.6);
	-moz-box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.6);
	box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.6);
}

#contentArea7b{
	position: fixed;
	left: 650px;
	top: 130px;
	background-color: #FFFFFF;
	z-index:3;
}

#contentArea7_lotus{
	position: fixed;
	left: 730px;
	top: 130px;
	background-color: #FFFFFF;
	z-index:2;
	-webkit-box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.6);
	-moz-box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.6);
	box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.6);
}

#contentArea8{
	position: fixed;
	left: 600px;
	top: 160px;
	background-color: #FFFFFF;
}

#contentArea9{
	position: fixed;
	left: 590px;
	top: 205px;
	background-color: #FFFFFF;
}

#contentArea10{
	position: fixed;
	left: 590px;
	top: 380px;
	background-color: #FFFFFF;
}

#contentArea11{
	position: fixed;
	left: 670px;
	top: 270px;
	background-color: #FFFFFF;
}

#toggleTable .textCell,
#toggleTable2 .textCell{
	padding: 0 0 0 0;
	vertical-align: middle;
}

#toggleTable .toggleCell,
#toggleTable2 .toggleCell{
	padding: 0 0 0 10px;
	vertical-align: middle;
}

#toggleTable .toggleCell img,
#toggleTable2 .toggleCell img{
	width: 94px;
	height: 43px;
}

#toggleTable td,
#toggleTable2 td{
	height: 40px;
}

.custom_font{
	z-index: 2;
}

.web_font{
	z-index: 3;
}

#marketshare td{
	border-top: 1px solid #CCCCCC
}

.rankingCell,
.rankingCellb{
	font-weight: bold;
	font-size: 13px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	width: 20px;
	text-align: center;
	border-top: 1px solid #CCCCCC;
}

.clientCell,
.clientCellb{
	font-weight: normal;
	font-size: 13px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	border-top: 1px solid #CCCCCC;
}

.numberCell,
.numberCellb{
	font-weight: normal;
	font-size: 13px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	border-top: 1px solid #CCCCCC;
	width: 50px;
}

.rankingCellb,
.clientCellb,
.numberCellb{
	background-color: #F1F1F1;
}

.mobileCell,
.desktopCell,
.webmailCell{
	padding: 0;
	font-weight: normal;
	font-size: 13px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	vertical-align: top;
	border-top: none;
}

.mobileCell{
	width: 75px;
	padding-right: 15px;
	border-right: 1px solid #CCCCCC;
}

.desktopCell{
	width: 190px;
	padding-left: 15px;
	padding-right: 15px;
	border-right: 1px solid #CCCCCC;
}

.webmailCell{
	width: 170px;
	padding-left: 15px;
}

#Q1 td{
	text-align: center;
	width: 25%;
}

.unit{
	padding-right: 30px;
	vertical-align: top;
	width: 50%;
}

.unit_full{
	padding-right: 30px;
	vertical-align: top;
}

#quizAnswer #Answer_Correct{
	position: fixed;
	left: 175px;
	top: 510px;
}

#Answer_Correct1 .iconCell,
#Answer_Correct2 .iconCell,
#Answer_Correct3 .iconCell,
#Answer_Correct4 .iconCell,
#Answer_Correct5 .iconCell,
#Answer_Incorrect1 .iconCell,
#Answer_Incorrect2 .iconCell,
#Answer_Incorrect3 .iconCell,
#Answer_Incorrect4 .iconCell,
#Answer_Incorrect5 .iconCell{
	width: 110px;
	vertical-align: top;
}

#Answer_Correct1 .textCell,
#Answer_Correct2 .textCell,
#Answer_Correct3 .textCell,
#Answer_Correct4 .textCell,
#Answer_Correct5 .textCell,
#Answer_Incorrect1 .textCell,
#Answer_Incorrect2 .textCell,
#Answer_Incorrect3 .textCell,
#Answer_Incorrect4 .textCell,
#Answer_Incorrect5 .textCell{
	vertical-align: top;
}

#answerTextWrong1,
#answerTextWrong2,
#answerTextWrong3,
#answerTextWrong4,
#answerTextWrong5,
#answerTextWrong6,
#answerTextRight1,
#answerTextRight2,
#answerTextRight3,
#answerTextRight4,
#answerTextRight5,
#answerTextRight6{
	font-size: 18px;
	font-weight: bold;
	color: #00314B;
	font-family: Arial, Sans-Serif;

}

#answer2A,
#answer2B,
#answer2C,
#answer2D,
#answer3A,
#answer3B,
#answer3C,
#answer3D,
#answer4A,
#answer4B,
#answer4C,
#answer4D,
#answer5A,
#answer5B,
#answer5C,
#answer5D{
	padding: 20px;
	background-color: #C8C4FF;
	margin-bottom: 15px;
	border-radius: 5px;
}

#answer1A,
#answer1B,
#answer1C,
#answer1D,
#answer2A,
#answer2B,
#answer2C,
#answer2D,
#answer3A,
#answer3B,
#answer3C,
#answer3D,
#answer4A,
#answer4B,
#answer4C,
#answer4D,
#answer5A,
#answer5B,
#answer5C,
#answer5D{
	transition: all .2s ease-in-out;
}

#answer1A:hover,
#answer1B:hover,
#answer1C:hover,
#answer1D:hover{
	transform: scale(1.2);
	cursor:pointer;
}

#answer2A:hover,
#answer2B:hover,
#answer2C:hover,
#answer2D:hover,
#answer3A:hover,
#answer3B:hover,
#answer3C:hover,
#answer3D:hover,
#answer4A:hover,
#answer4B:hover,
#answer4C:hover,
#answer4D:hover,
#answer5A:hover,
#answer5B:hover,
#answer5C:hover,
#answer5D:hover {
	transform: scale(1.07);
	cursor:pointer;
}

#U2_Q1 #answer1A:hover,
#U2_Q1 #answer1B:hover,
#U2_Q1 #answer1C:hover,
#U2_Q1 #answer1D:hover{
	transform: scale(1.07);
	cursor:pointer;
}

#U2_Q1 #answer1A,
#U2_Q1 #answer1B,
#U2_Q1 #answer1C,
#U2_Q1 #answer1D{
	padding: 20px;
	background-color: #C8C4FF;
	margin-bottom: 15px;
	border-radius: 5px;
}

.answerBox{
	padding-bottom: 15px;
}

.titleCell1,
.titleCell2,
.titleCell3{
		font-size: 19px;
		font-weight: bold;
		color: #00314B;
		font-family: Arial, Sans-Serif;
		text-align: center;
		padding-bottom: 10px;
}

.col1{
	padding-right: 15px;
	vertical-align: top;
}

.col2{
	padding-left: 15px;
	vertical-align: top;
}

.col3{
	vertical-align: top;
	border: 1px solid #CCCCCC;
	padding: 15px;
	background-color: #FAFAFA;
}

.iconCell1,
.iconCell2{
	padding-bottom: 15px;
	text-align: center;
}



.qtextCell{
	text-align: center;
	font-size: 19px;
	font-weight: bold;
	color: #00314B;
	font-family: Arial, Sans-Serif;
}

#imagesQuiz .cell1 img,
#imagesQuiz .cell2 img{
	width: 130px;
	height: inherit;
}

#imagesQuiz .cell1{
	padding-bottom: 10px;
}

#score{
	font-size:54px;
	font-weight: bold;
}

#feedbackBox{
	font-size: 14px;
	color: #00314B;
	font-family: Arial, Sans-Serif;
}

.exampleCode{
	background-color: #EEEEEE;
	padding: 10px 12px;
}

.diagramText{
	font-weight: bold;
	padding-bottom: 8px;
	padding-top: 15px;
	font-size: 15px;
}

#contentArea_fullheight img{
	padding-bottom: 10px;
	padding-top: 6px;
}

#img2{
	padding-bottom: 8px;
}

#contentArea_text .icon1,
#contentArea_text .icon2,
#contentArea_text .icon3{
	width: 130px;
	vertical-align: top;
	padding-bottom: 20px;
}

#contentArea_text .icon1 img,
#contentArea_text .icon2 img,
#contentArea_text .icon3 img{
	width: 110px;
	height: inherit;
}

#contentArea_text .textCell{
	vertical-align: top;
}

#contentArea_text h3{
	margin-top: 0;
	padding-top: 0;
}

#lotusNotes .title1,
#lotusNotes .title2,
#lotusNotes .title3{
	font-weight: bold;
	border-top: 1px solid #00314B;
	border-bottom: 1px solid #00314B;
	padding: 8px 0;
}

#lotusNotes .box2{
	border-bottom: 1px solid #00314B;
	padding: 10px 0;
	vertical-align: top;
}

#lotusNotes .box1,
#lotusNotes .box3{
	border-bottom: 1px solid #00314B;
	padding: 10px 0;
	width: 28%;
	vertical-align: top;
}

#intro_objectives p{
	padding-bottom: 10px;
}

#contentArea6_lotus img,
#contentArea7_lotus img{
	width: 460px;
	height: inherit;
}

#U2_Q1_Example,
#U2_Q4_Example{
	position: fixed;
	left: 780px;
	top: 235px;
}

#U2_Q5{
	position: fixed;
	left: 205px;
	top: 335px;
}

#designchoice #answer5A,
#designchoice #answer5B{
	padding: 0 0 0 0;
	background-color: #FFFFFF;
	margin: 0;
	border-radius: 0;
}

.click1 img, .click2 img{
	width: 220px;
	height: inherit;
	border: 1px solid #DDDDDD;
}

.click1, .click2{
	vertical-align: top;
	width: 240px;
}

.word1, .word2{
	width: 50%;
	padding-bottom: 12px;
	vertical-align: top;
}

#glossaryTable .word1{
	padding-right: 20px;
}

#glossaryTable .word2{
	padding-left: 20px;
}

#replayBtn,
#playBtn{
	position: fixed;
	top: 460px;
	left: 180px;
	z-index: 4;
	font-size: 13px;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	text-align: center;
}

#replayBtn .iconCell,
#playBtn .iconCell{
	width: 60px;
	text-align: left;
	cursor: pointer;
}

#replayBtn .textCell,
#playBtn .textCell{
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, Sans-Serif;
	color: #00314B;
	text-align: left;
}

.problemTag{
	color: #D93600;
}

.solutionTag{
	/* color: #00B200;*/
	background-color: #00B200;
	padding: 3px 8px;
	color: #FFFFFF;
}

#trophy{
	position: fixed;
	top: 200px;
	left: 990px;
}

#trophy img{
	max-width: 300px;
	height: inherit;
}

#moduleText .box1{
	width: 365px;
	vertical-align: top;
}

#moduleText .box2{
	width: 390px;
	vertical-align: top;
}

#quizResultsImg{
	position: fixed;
	right: 0;
	top: 130px;
	z-index: 2;
}

#moduleIntroImg{
	position: fixed;
	right: 0;
	top: 130px;
	z-index: 2;
	background-color: #756CFF;
}

#quizResultsImg img,
#moduleIntroImg img{
	max-width: 420px;
	height: inherit;
}

#greyedBtn{
	position: fixed;
	left: 180px;
	top: 540px;
}

#finalTrophy{
	position: fixed;
	left: 540px;
	top: 160px;
	z-index: 2;
}

#confetti{
	position: fixed;
	left: 540px;
	top: 160px;
	z-index: 1;
}

#completedModules{
	position: fixed;
	left: 112px;
	top: 270px;
	z-index: 1;
}
